*{
    font-size : 1.00em;  
}
body {
    /* background-color : rgb(230, 20, 20); */
    font-family : sans-serif;
    font-size : 1em;
    margin : 0;
    padding : 0;
    text-align: center;

}
h1  {
    font-size : 2em;
    font-weight : bold;
    text-align: center;
    margin : 10;
    padding : 0;
}
/* navbar */
/* navbar li color white */
.navbar-nav{
    font-size : 1.4em;
}
.navbar-nav li a{
    color : white;
}
/* navbar li color white */
.navbar-nav li a:hover{
    background-color:#35383c;
    padding: 15px;
}

/* navbar li color white */
.navbar-nav li a:visited{
    color : white;
}
.li_dropdown{
    background-color : #007BFF;
    font-size : 1.03em;
}
 
/* footer */
footer {
    background-color: #007BFF;
    color: black;
    font-size: 0.9em;
    font-style: italic;

}footer p a {
    color: black;
}footer p a:hover {
    color: rgb(97, 144, 199);
    text-decoration: none;
}
footer h3 {
    color: blue;
}
#copy_right {
    background-color: #007BFF;
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 1%;
    padding-top: 3%;
    width: 100%;
    height: 100px;
} #copy_right p a {
    color: white;
    text-decoration: none;
}#copy_right p a:hover {
    color: rgb(0, 0, 0) ;
}
/* about */
#about_me{
    font-size: 1.2em;
    color : blue;
    padding-bottom: 1%;
    padding-top: 1%;
}
#img_about img {
    border: #222 solid 1px;
    border-radius: 5%;
    box-shadow: 0 0 10px #222;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

/*content*/
#content_me{
    font-size: 1.05em;
}
#header_title{
    font-size: 1.5em;
    background-color: #35383c;
    border-bottom: #222 dotted 1px;
    text-align: center;
    color : white;
    padding-bottom: 1%;
    padding-top: 2%;
}

/* button */
.btn-dark {
    background-color: #007BFF;
    border-color: #007BFF;
    color: white;
    font-size: 1.0em;
    padding-bottom: 1%;
    padding-top: 1%;
}
/* table_electronic */
#table_electronic {
    /* width responsive */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.0em;
    color: rgb(1, 1, 1);
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
#table_electronic th {
    background-color: #007BFF;
    color: white;
    font-size: 1.0em;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
/* table_electronic td */
#table_electronic td {
    background-color: #e2edfa;
    color: rgb(1, 1, 1);
    font-size: 1.0em;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
/* create card for element */
.card {
    box-shadow: 0 0 10px #222;
    width: 350px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
.card-img-top {
    border: #222 solid 1px;
    border-radius: 5%;
    box-shadow: 0 0 10px #222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
.card-body {
    background-color: #007BFF;
    color: white;
    font-size: 1.0em;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
.card-body p {
    color: white;
}
#card-symbol {
    background-color: #007BFF;
    color: white;
    font-size: 10.0em;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
#card-atomic_number {
    color: white;
    font-size: 1.5em;
    margin-top: -90px;
    margin-left: -230px;
}
#card-atomic_mass {
    color: white;
    font-size: 1.5em;
    margin-top: -200px;
    margin-left: 220px;
} 
#card-element_electrons {
    color: white;
    font-size: 1.2em;
    margin-top: 180px;
    text-align: center;
}
/* main */
#main {
    width: 75%;
}